<section class="category">
  <h2>{{drink}}</h2>
  <ul>
    <li *ngFor="let wineList of wineLists">
      <app-drink-again
        [imageUrl]="wineList.imageUrl"
        [label]="wineList.label"
        [isNew]="wineList.isNew"
      ></app-drink-again>
    </li>
  </ul>
</section>
<section class="category">
  <h2>{{keep}}</h2>
  <ul>
    <li *ngFor="let wineList of wineLists">
      <app-keep-drinking
        [imageUrl]="wineList.imageUrl"
        [label]="wineList.label"
        [isFinished]="wineList.isFinished"
      ></app-keep-drinking>
    </li>
  </ul>
</section>
