<section class="category">
  <h2>Drink Again</h2>
  <ul>
    <li>
      <app-drink-again [isNew]="true"></app-drink-again>
    </li>
    <li>
      <app-drink-again></app-drink-again>
    </li>
    <li>
      <app-drink-again [isNew]="true"></app-drink-again>
    </li>
    <li>
      <app-drink-again></app-drink-again>
    </li>
    <li>
      <app-drink-again [isNew]="true"></app-drink-again>
    </li>
    <li>
      <app-drink-again></app-drink-again>
    </li>
    <li>
      <app-drink-again></app-drink-again>
    </li>
    <li>
      <app-drink-again></app-drink-again>
    </li>
  </ul>
</section>
<section class="category">
  <h2>Keep Drinking</h2>
  <ul>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
    <li>
      <app-keep-drinking></app-keep-drinking>
    </li>
  </ul>
</section>
